:root{
    --bd-purple: #4c0bce;
    --bd-violet: #712cf9;
    --bd-accent: #ffe484;
    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    --bd-accent-rgb: 255,228,132;
    --bd-pink-rgb: 214,51,132;
    --bd-teal-rgb: 32,201,151;
    --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
    --bd-callout-code-color: #ab296a;
    --body-color: #212529;
    --body-color-gray:#2b3035;
    --p-color:#adb5bd; 

}
body {
    margin: 0;
    font-family: var(--bs-body-font-family) !important;
    font-size: var(--bs-body-font-size) !important;
    font-weight: var(--bs-body-font-weight) !important;
    line-height: var(--bs-body-line-height) !important;
    color: var(--bs-body-color) !important;
    text-align: var(--bs-body-text-align) !important;
    background-color: var(--bs-body-bg) !important;
    -webkit-text-size-adjust: 100% !important;
    -webkit-tap-highlight-color: transparent !important;
    background-color: var(--body-color) !important;
    color: #eaeef1 !important;
    height: 2000px;
}
/********************************************************/
/********************start navbar***********************/
/********************************************************/
.navbar {
    color: white;
    background-image: linear-gradient(rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
}
.navbar-nav .nav-link{
    color: white;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover{

    color: rgb(245, 229, 200);
}
.navbar-nav .resume{
    padding-left: 1px white !important;
}
.logo{
    width: 150px;
    height: 40px;
}

/********************************************************/
/***********************end navbar***********************/
/********************************************************/

/********************************************************/
/***********************start home***********************/
/********************************************************/

.home img{
    max-width: 100%;
    /* max-height: 500px; */
}
.home-left{
    height: 100%;
    max-width: 100%;
}
.home-left h2{
    font-size: 40px;
    font-weight: bloder;
}
.home-left h1{
    font-size: 60px;
}
.name{
background-color: var(--bd-purple);
border-radius: 10px;
font-weight: bolder;
color: white;
background-color: #21D4FD;
background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);


}

.resume{
    background-image: linear-gradient(112.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(157.5deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(135deg, rgb(214, 214, 214) 0%, rgb(214, 214, 214) 10%,rgb(195, 195, 195) 10%, rgb(195, 195, 195) 53%,rgb(176, 176, 176) 53%, rgb(176, 176, 176) 55%,rgb(157, 157, 157) 55%, rgb(157, 157, 157) 60%,rgb(137, 137, 137) 60%, rgb(137, 137, 137) 88%,rgb(118, 118, 118) 88%, rgb(118, 118, 118) 91%,rgb(99, 99, 99) 91%, rgb(99, 99, 99) 100%),linear-gradient(90deg, rgb(195, 195, 195),rgb(228, 228, 228)); background-blend-mode:overlay,overlay,overlay,normal;
}
.home-left .who-me{
    color: white;
    background-image: linear-gradient(rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));    
    
}
.home-left .who-me:hover{
    color: white;
    background-color:darkgray;
    box-shadow: #212529;
}
.home-left .dow-resume{
    color: white;
    border: 2px solid white;
}
.home-left .dow-resume:hover{
    color: white;
    background-color: gray;

}
.who-span{
    color: #212529;
}
/* home media  */

@media (max-width: 480px) {

.home-left h1{
    font-size: 40px;
    } 
.dow-resume{
    margin-top: 10px;
}
.home img{
    justify-content: center;
}
}

/********************************************************/
/***********************end home*************************/
/********************************************************/

/* <!---------------------------------------------------------------->
<!-----------------------start about me--------------------------->
<!----------------------------------------------------------------> */
.about_me{
    background-color: var(--body-color-gray);
    padding-bottom: 17px;
    padding-top: 50px;
}
.about_me .right img{
    max-width: 100%;
    height: 100%;
}
.about_me .left h2{
    font-size: 30px;
}
.about_me .left h1{
    font-size: 20px;
}
.about_me .left p{
    font-size: 18px;
    font-weight: 5px;
    color: var(--p-color);
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
#carouselExample{text-align:center;margin-top:50px}#carouselExample .carousel-indicators{position:relative;bottom:0;height:150px}#carouselExample .carousel-indicators li{width:auto;height:auto;text-indent:0%;background-color:transparent;margin-left:20px;margin-right:20px;flex-direction:column}#carouselExample .carousel-indicators li img{transition:0.5s}#carouselExample .carousel-indicators li.active{transition:0.5s}#carouselExample .carousel-indicators li.active img{transform:scale(1.5);transition:transform 1s ease-in-out}#carouselExample .carousel-item{transition:1s linear}#carouselExample .blockquote{font-style:italic;font-weight:bold}#carouselExample small{text-align:right}#carouselExample i{color:#222}@media screen and (min-width: 320px) and (max-width: 767px){.carousel-title{font-size:18px;margin-top:20px}#carouselExample .blockquote{font-size:15px;text-align:center;margin:20px 0}#carouselExample small{text-align:center;display:block}#carouselExample .carousel-indicators li{margin-left:8px;margin-right:8px}#carouselExample .carousel-indicators li.active img{transform:scale(1.2)}}


/* <!---------------------------------------------------------------->
<!------------------------end about me---------------------------->
<!----------------------------------------------------------------> */


/* <!---------------------------------------------------------------->
<!------------------------start skills------------------------------->
<!----------------------------------------------------------------> */
.skills p{
    border: 1px ridge white; 
    padding: 15px;
    background-color: var(--body-color-gray);
}
.skills li{
    color: white;
    padding-inline-start: 0 ; 
}
.skills ul{
    padding-inline-start : 0px; 

}


/* <!---------------------------------------------------------------->
<!------------------------end skills -------------------------------->
<!----------------------------------------------------------------> */


/* <!---------------------------------------------------------------->
<!------------------------start more_skills-------------------------->
<!----------------------------------------------------------------> */
.more_skills{
    max-width: 100%;
    background-color: var(--body-color-gray);
}
.more_skills .mem_img{
    width: 100%;
    /* opacity: 0.5; */
}
.more_skills .bg-image{
    background-image: url(../../img/mem_img1.png);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 350px;
    background-repeat: no-repeat;

}
.bg-image h1{
    font-size: 60px;
    font-weight: bold;
}
/* .more_skills .programming_lan div{
    border: 1px solid white;
    padding: 1rem;
    margin: 50px;
    background-color: var(--body-color);
} */
/* <!---------------------------------------------------------------->
<!------------------------start more_skills-------------------------->
<!----------------------------------------------------------------> */
